.asset-grid {
    margin: 40px auto 60px;
    max-width: 1100px;
    padding: 0 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    gap: 36px;
  }
  
  .asset {
    background: #ffffff;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    border: 1px solid #dfe3ed;
    min-height: 723px;
  }
  
  .asset__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    color: #ffffff;
    padding: 14px 20px;
  }
  
  .asset__header h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }
  
  .asset__description {
    display: flex;
    margin: 0;
    padding: 16px 20px 0;
    font-size: 12px;
    color: #111;
    text-align: left;
    gap:4px;
    align-items: baseline;
  }
  
  .asset__body {
  margin-top: 24px;
  border-top: 1px solid lightgray;
  }
  
.asset__info-icon {
  width: 22px;
  height: 22px;
  display: block;
  cursor: pointer; /* optional */
}